@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    font-family:'Poppins', sans-serif;

    --p1-primaria:#000000;
    --p1-secundaria:#3E432E;
    --p1-ternaria:#616F39;
    --p1-quaternaria:#A7D129;
    --p1-menu-descktop:#15161b;
    --p1-principal-descktop:#202125;

    --p2-primaria:#212121;
    --p2-secundaria:#323232;
    --p2-ternaria:#0D7377;
    --p2-quaternaria:#14FFEC;

    --p3-primaria:#03001C;
    --p3-secundaria:#301E67;
    --p3-ternaria:#5B8F89;
    --p3-quaternaria:#B6EADA;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    
    
}
html::-webkit-scrollbar{
    width: 0;
    
}
@media screen and (min-width: 1000px) {
    body{
        width: 82%;
        height: 100vh;
        background-color: var(--p1-principal-descktop);
        color: white;
        margin-left: 18%;
    }
    header{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 111;
        display: flex;
        background-color: var(--p1-menu-descktop);
        width: 18%;
        height: 100vh;
        
    }
    header nav{
        display: flex;
        align-items: flex-start;
        margin-top: 10%;
        background-color: transparent;
        flex-direction: column;
        width: 80%;
           
    }
    header nav a{
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        margin: 8px;
    }
    header nav .bi{
        color: whitesmoke;
    }
    header nav .checked{
        color: var(--p1-quaternaria);
        flex-direction: column;
        text-align: justify;
    }
    header nav .checked::before{
        content: '';
        
    }
    .topo-perfil{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }
    .topo-perfil .foto-perfil-user{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    .topo-perfil .logoAcord{
        width: 100px;
        margin-right: 20px;
        order: -1;
    }
    .topo-perfil .back-notificacoes{
        background-color: #323232;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        order: -1;
        margin-right: 20px;
    }
    .topo-perfil .back-notificacoes .bi{
        position: relative;
        left: 20%;
        top: 20%;
        order: -1;
    }
    .titulo-principal{
        width: 100%;
        margin-top: 20px;
        height: 30%;
        
    }
    .titulo-principal h1{
        width: 50%;
        font-size: 70px;
        line-height: 60px;
        font-weight: 700;
        margin-left: 5%;
    }
    .titulo-principal p{
        width: 50%;
        margin-top: 20px;
        font-size: 14px;
        margin-left: 5%;
        color: rgb(160, 160, 160);
       
    }
    .titulo-principal img{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 5%;
        width: 50%;
        z-index: -1;
        background-image: linear-gradient(to right, var(--p1-principal-descktop), transparent);
    }
    .ultimas-tocadas{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding: 0px 20px;
        margin-top: 8%;
    }
    .plays-favoritos{
        position: relative;
        width: 90%;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .plays-favoritos img{
        position: relative;
        width: 100%;
        height: 180px;
        border-radius: 5px;
    }
    .plays-favoritos .musica-faixa{
        position: absolute;
        width: 100%;
        bottom: 0;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top: 10px;
        
    }
    .plays-favoritos  .musica-faixa h2{
        font-size: 18px;
        margin-left: 5%;
        font-weight: 700;
        padding: 10px 0 5px 5px;
        line-height: 10px;
        
    }
    .plays-favoritos  .musica-faixa p{
        position: relative;
        font-size: 14px;
        margin-left: 5%;
        padding: 0px 0px 15px 5px;
        color: var(--p1-quaternaria);
        font-weight: 700;
    }
    .plays-favoritos .musica-faixa a{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        background-color: var(--p1-quaternaria);
        padding: 8px 20px 8px 35px;
        text-decoration: none;
        color: black;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 700;
        
    }
    .plays-favoritos .musica-faixa .bi{
        position: absolute;
        left: 0;
        margin-left: 8px;
        padding-bottom: 5px;
    }

    .secao-pesquisa{
        position: absolute;
        display: flex;
        top:0;
        margin-top: 10px;
        width: 60%;
    }
    .secao-pesquisa .titulo{
        position: absolute;
        left: 10%;
        top: 25%;
    }
    .secao-pesquisa .titulo h2{
        text-align: center;
        font-size: 12px;
        opacity: 0.5;    
    }
    .secao-pesquisa .btn-pesquisa{
        background-color: #323232;
        border-radius: 15px;
        width: 100%;
        height: 40px;
        margin-left: 3%;
    }
    .secao-pesquisa .btn-pesquisa .bi{
        position: relative;
        left: 2%;
        top: 25%;
        color: white;
    }
    .text-options{
        position: relative;
        display: flex;
        width: 90%;
        justify-content: space-between;
        left: 5%;
        margin-top: 3%;
    }
    .text-options h3{
        color: #7e7e7e;
        font-size: 20px;
    }
    .text-options a{
        text-decoration: none;
        color: #7e7e7e;
        font-size: 16px;
        
    }
    .text-artista-fav {
        position: relative;
        display: flex;
        width: 90%;
        left: 5%;
        margin-top: 5%;
    }
    .text-artista-fav h3{
        color: white;
        font-size: 20px;
    }
    



    .swiper {
        width: 95%;
        margin-top: 10px;
      }
  
      .swiper-slide {
        display: flex;
        flex-direction: row; 
        width: 250px;
        background-color: var(--p1-menu-descktop);
        cursor: grab;
      }
  
      .swiper-slide img {
        display: block;
        width: 167px;
        height: 150px;
        background-size: contain;
        cursor: pointer;
        
      }
      .swiper-slide .img-artista-fav {
        display: block;
        width: 200px;
        background-size: contain;
        
        
      }
      .swiper-slide .playlist-titulo , 
      .album-titulo , 
      .musica-titulo{
        position: absolute;
        width: 50%;
        height: 100%;
        margin-left: 50%;
        font-size: 18px;
        
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        
    }
    .swiper-slide .artista-nome{
        position: absolute;
        color: white;
        font-size: 14px;
        top: 0;
        right: 0;
        margin-right: 15%;
    }
    .swiper-slide .desc-playlist, 
    .desc-album , 
    .nome-artista{
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 8%;
        width: 50%;
        color: #7e7e7e;
        font-size: 12px;
        font-weight: 700;
        
    }
    .mix-favoritos{
        width: 90%;
        height: 50px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        margin-left: 3%;
        margin-top: 5%;
        
    }
    .mix-favoritos .mix-card-favoritos{
        display: flex;
        width: 100%;
        border-radius: 5px;
        text-align: left;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        align-items: center;
        justify-content: center;
    }
    .mix-favoritos .mix-card-favoritos img{
        width: 40%;
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
    .mix-card-favoritos h4{
        font-size: 14px;
        margin: 15px 5px;
        font-weight: 600;
        line-height: 15px;
    }
    .banner{
        position: relative;
        width: 400px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: 3%;
        margin-top: 25%;
        
    }
    .banner img{
        position: relative;
        width: 400px;
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .banner .conteudo-vi{
       position: absolute;
       display: flex;
       margin-left: 5%;
       height: 120px;
       width: 100%;
       background-image: linear-gradient(to top, var(--p1-primaria), transparent);
    }
    .conteudo-vi h3{
        position: absolute;
        left: 5%;
        bottom: 20%;
        font-size: 25px;
        
    }
    .conteudo-vi p{
        position: absolute;
        left: 5%;
        bottom: 5%;
        
    }
    .conteudo-vi .bi-play-circle-fill{
        position: absolute;
        right: 5%;
        bottom: 10%;
    }
    .space{
        margin-top: 20%;    
    }
    .musica{
        margin-bottom: 50px;
    }
    .models{
        display: none;
        
    }

   
    .lista-aberta{
        position: relative;
        top: 0;
        width: 0%;
        display: none;
        opacity: 0;
        animation: reveal 0.2s forwards;
    }
   
    .lista-aberta .categoria .img-lista{
        position: relative;
        width: 100%;
        height: 55vh;
        
        
        
    }
    .lista-aberta .categoria .informacoes{
        position: absolute;
        height: 55vh;
        width: 100%;
        top: 0;
        background-image: linear-gradient(to top, var(--p1-principal-descktop), transparent);
    }
    .informacoes .titulo-lista{
        position: absolute;
        bottom: 0;
        margin-bottom: 8%;
        margin-left: 5%;
        font-size: 30px;
    }
    .informacoes .desc-lista{
        position: absolute;
        bottom: 0;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .informacoes .bi{
        margin-left: 3%;
        margin-top: 5%;
    }
    .informacoes .curtidas-lista{
        position: absolute;
        width: 30%;
        display: flex;
        bottom: 0;
        margin-left: 3%;
        justify-content: space-between;
    }
    .curtidas-lista img{
        width: 80px;
        height: 40px;
        margin-left: 5%;
    }
    .curtidas-lista .qtd-likes{
        position: absolute;
        font-size: 12px;
        right: 0;
        margin-right: 25%;
        bottom: 0;
        margin-bottom: 3%;
    }
    .curtidas-lista .duracao{
        position: absolute;
        font-size: 12px;
        bottom: 0;
        margin-bottom: 3%;
        right: 0;
        margin-right: 5%;
    }
    .lista-aberta .btn-goup-acoes{
        position: relative;
        display: flex;
        width: 30%;
        height: 50px;
        justify-content: space-between;
        margin-left: 20%;
       
        
    }
    .btn-goup-acoes a{
        text-decoration: none;
        color: white;
        background-color: var(--p2-secundaria);
        padding: 10px 18px;
        border-radius: 5px;
    }
    .btn-goup-acoes .bi{
        margin-right: 5px;
        transform: translateY(5px);
    }
    .lista-aberta .btnplay{
        position: absolute;
        display: flex;
        margin-left: 5%;
        width: 15%;
    }
    .btnplay button{
        margin-top: -30%;
        width: 95%;
        text-decoration: none;
        text-align: center;
        color: var(--p1-primaria);
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 18px;
        font-weight: 700;
        background-color: var(--p1-quaternaria);
        cursor: pointer;
    }
    .btnplay .bi{
        margin-right: 5px;
        transform: translateY(5px);
    }
    .lista-aberta .lista-musica{
        width: 90%;
        height: 120px;
        margin-top: 5%;
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
       
    }
    .lista-musica .img-musica{
        width: 200px;
        height: 150px;
        border-radius: 10px;
        cursor: pointer;
        
    }
    .lista-musica .informacoes-musica{
        position: absolute;
        left: 25%;
        width: 30%;
        line-height: 15px;
    }
    .informacoes-musica h3{
        font-size: 14px;
        margin-left: 5px;
        text-align: left;
    }
    .informacoes-musica p{
        font-size: 12px;
        margin-left: 5px;
        color: #7e7e7e;
    }
    .lista-musica .bi{
        color: white;
        margin-top: 50%;
    }
    .space{
        margin-top: 20%;    
    }
 


    .page-player{
        position: relative;
        top: 0;
        width: 100%;
        display: none;
    }
    .page-player .musica-atual .img-da-musica{
        position: relative;
        width: 100%;
        height: 55vh;
        transition: 0.5s;
    }
    .page-player .musica-atual .img-full-window{
        position: relative;
        width: 100%;
        height: 75vh;
        transition: 0.5s ease-in-out;
    }
    .page-player .musica-atual .informacoes-musica{
        position: absolute;
        height: 55vh;
        width: 100%;
        top: 0;
        transition: 0.5s;
        background-image: linear-gradient(to top, var(--p1-principal-descktop), transparent);
    }
    .page-player .musica-atual .info-full-window{
        position: absolute;
        height: 75vh;
        width: 100%;
        top: 0;
        transition: 0.5s ease-in-out;
        background-image: linear-gradient(to top, #202125fa, #202125de,  #202125bb);
    }
    .informacoes-musica .nome-da-musica{
        position: absolute;
        bottom: 0;
        margin-bottom: 2%;
        width: 70%;
        line-height: 40px;
        margin-left: 5%;
        font-size: 35px;
        
    }
    .informacoes-musica .artista{
        position: absolute;
        bottom: 0;
        margin-left: 5%;
        margin-bottom: 0%;
        font-size: 16px;
    }
    .informacoes-musica .back-curtida{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 0%;
        margin-right: 5%;
        background-color: #7e7e7e;
        border-radius: 20px;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .informacoes-musica .back-curtida .bi{
        position: relative;
        left: 25%;
        top: 25%;
        color: var(--p1-quaternaria);
    }
    .informacoes-musica .back-notificacoes{
        position: absolute;
        right: 0;
        margin-right: 5%;
        margin-top: 2%;
        background-color: #7e7e7e;
        border-radius: 20px;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .informacoes-musica .back-notificacoes .bi{
        position: relative;
        left: 25%;
        top: 25%;
        color: white;
    }
    .informacoes-musica .back-voltar{
        position: absolute;
        left: 0;
        margin-left: 5%;
        margin-top: 2%;
        background-color: #7e7e7e;
        border-radius: 20px;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .informacoes-musica .back-voltar .bi{
        position: relative;
        left: 25%;
        top: 25%;
        color: white;
    }
    .page-player .btn-group-opcoes{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 10%;
        margin-left: 5%;
        cursor: pointer;
    }
    .active{
        color: var(--p1-quaternaria);
    }
    .player{
        width: 90%;
        margin-left: 5%;
        align-items: center;
    }
    .player #progesso{
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        cursor: pointer;
        background-color: #7e7e7e;
        overflow-X: hidden;
    }
    #progesso::-webkit-slider-thumb{
        -webkit-appearance: none;
        background: var(--p1-quaternaria);
        width: 10px;
        height: 20px;
        border-radius: 50%;
        box-shadow: -400px 0 0 400px var(--p1-quaternaria);
    }
    .tempo-corrido,
    .duracao-musica{
        font-size: 12px;
    }
    .duracao-musica{
        position: absolute;
        right: 0;
        margin-right: 5%;
    }
    .player .controles{
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .player .controles .btn-embaralhar{  
        color: var(--p1-quaternaria);
    }
    .player .controles div{
        margin: 15px;
    }
    .controles .play-btn{
        transform: scale(1.5);
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
    }
    .play-btn span{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateY(-50%);
        width: 5px;
        height: 20px;
        border-radius: 2px;
        background: var(--p1-primaria);
        transition: 0.5s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .play-btn span:nth-child(2){
        left: 55%;
        transform-origin: center;

    }
    .play-btn.pause span:nth-child(2){
        transform: translateY(-50%) scaleY(0);
    }
    .play-btn.pause span:nth-child(1){
        width: 35%;
        left: 35%;
        transform: translate(-50% -50%);
        border-radius: 0;
        clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
    }
    .play-btn.pause{
        animation: pulse 1.2s linear alternate-reverse infinite;
    }
    
    .player .controles .btn-repetir{  
        color: var(--p1-quaternaria);
    }   
    
    
    .lyric {
        position: absolute;
        top: 12%;
        width: 90%;
        margin-left: 5%;
        text-align: center;
        white-space: pre-line;
        overflow-y: hidden;
        overflow-x: hidden;
        max-height: 350px; /* Altura máxima do contêiner antes do scroll aparecer */
        font-size: 25px;
        animation: revealTow 0.5s ease-in-out forwards;
        /*background-image: linear-gradient(to top , #00000091, #0000005e);*/
        background-color: transparent;
        z-index: 1;
      }
  
      .highlighted {
        color: var(--p1-quaternaria); /* Adiciona cor  para a linha tocada */
      }
      .unplayed {
        opacity: 0.5; /* Adiciona opacidade para as linhas não tocadas */
      }

      .chord {
        position: relative;
        top: -0.9em; /* Ajuste vertical para posicionar a cifra acima da palavra */
        
        font-weight: bold;
        color: var(--p1-quaternaria); /* Cor verde para as cifras */
      }
      .chords {
        position: absolute;
        top: 15%;
        width: 90%;
        margin-left: 5%;
        white-space: pre-line;
        text-align: center;
        max-height: 300px; /* Altura máxima da área de cifras */
        line-height: 50px;
        overflow-y: hidden; /* Adiciona barra de rolagem vertical */
        overflow-x: hidden; /* Adiciona barra de rolagem vertical */
        font-size: 20px;
        animation: revealTow 0.5s ease-in-out forwards;
        /*background-image: linear-gradient(to top , #00000091, #0000005e);*/
        background-color: transparent;
        z-index: 1;
        display: none;
      }
    
    
       
    @keyframes pulse {
        0%{ box-shadow: 0;}
        50%{ box-shadow: 0 0 0 5px rgba(62, 66, 46, 0.623);}
        100%{box-shadow: 0 0 0 5px rgba(167, 209, 41, 0.4);}
        
    }
    @keyframes reveal {
        from{
            opacity: 0;
            width: 0;
        }
        to{
            opacity: 1;
            width: 100%;
        }
    }
    @keyframes revealTow {
        from{
            opacity: 0;
            height: 0;
        }
        to{
            opacity: 1;
            height: 100%;
        }
    }
}

@media screen and (max-width: 600px){
    body{
        width: 100%;
        background-color: var(--p1-primaria);
        color: white;
        
    }
    .pagina-principal{
        display: block;
       
    }
    .movePagePrincipal{
        margin-left: 100%;
        transition: 0.5s;
        
    }
    .topo-perfil{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    .topo-perfil .foto-perfil-user{
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }
    .topo-perfil .back-notificacoes{
        background-color: #323232;
        border-radius: 20px;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .topo-perfil .back-notificacoes .bi{
        position: relative;
        left: 25%;
        top: 25%;
    }
    .titulo-principal{
        display: none;
    }
    .plays-favoritos{
        position: relative;
        width: 90%;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .plays-favoritos img{
        position: relative;
        width: 100%;
        left: 5%;
        margin-top: 5%;
        height: 180px;
        /*background-image: url(Imagens-tela-principal/ed-sheeran-eyes-closed-.jpg);*/
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .plays-favoritos .musica-faixa{
        position: absolute;
        width: 100%;
        left: 5%;
        bottom: 0;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top: 10px;
        
    }
    .plays-favoritos  .musica-faixa h2{
        font-size: 18px;
        margin-left: 5%;
        font-weight: 700;
        padding: 10px 0 5px 5px;
        line-height: 10px;
        
    }
    .plays-favoritos  .musica-faixa p{
        position: relative;
        font-size: 14px;
        margin-left: 5%;
        padding: 0px 0px 15px 5px;
        color: var(--p1-quaternaria);
        font-weight: 700;
    }
    .plays-favoritos .musica-faixa a{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        background-color: var(--p1-quaternaria);
        padding: 8px 20px 8px 35px;
        text-decoration: none;
        color: black;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 700;
        
    }
    .plays-favoritos .musica-faixa .bi{
        position: absolute;
        left: 0;
        margin-left: 8px;
        padding-bottom: 5px;
    }
    .two{
        position: absolute;
        top: 0;
        margin-top: 19%;
        width: 80%;
        left: 5%;
        z-index: -1;
    }
    .tree{
        position: absolute;
        top: 0;
        margin-top: 18%;
        width: 70%;
        left: 10%;
        z-index: -2;
    }
    
    .secao-pesquisa{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }
    .secao-pesquisa .titulo{
        position: relative;
        width: 60%;
    }
    .secao-pesquisa .titulo h2{
        text-align: left;
        font-size: 30px;
        font-weight: 700;
        line-height: 25px;
    }
    .secao-pesquisa .btn-pesquisa{
        background-color: #323232;
        border-radius: 15px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
    }
    .secao-pesquisa .btn-pesquisa .bi{
        position: relative;
        left: 25%;
        top: 25%;
        color: white;
    }



    .text-options{
        position: relative;
        display: flex;
        width: 90%;
        justify-content: space-between;
        left: 5%;
        margin-top: 5%;
    }
    .text-options h3{
        color: #7e7e7e;
        font-size: 18px;
    }
    .text-options a{
        text-decoration: none;
        color: #7e7e7e;
        font-size: 16px;
        
    }
    .text-artista-fav {
        position: relative;
        display: flex;
        width: 90%;
        left: 5%;
        margin-top: 5%;
    }
    .text-artista-fav h3{
        color: white;
        font-size: 20px;
    }
    
    .models{
        display: none;
    }



    .swiper {
        width: 90%;
        height: 140px;
        margin-top: 10px;
      }
  
      .swiper-slide {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 60px;
        text-align: center;  
        
      }
  
      .swiper-slide img {
        display: block;
        width: 100px;
        height: 110px;
        background-size: cover;
        border-radius: 25px;
      }
      .swiper-slide .img-artista-fav {
        display: block;
        width: 100px;
        height: 110px;
        background-size: cover;
        border-radius: 100%;
      }
      .swiper-slide .playlist-titulo , 
      .album-titulo , 
      .musica-titulo{
        width: 100%;
        font-size: 14px;
    }
    .swiper-slide .artista-nome{
        width: 100%;
        color: white;
        font-size: 14px;
    }
    .swiper-slide .desc-playlist, 
    .desc-album , 
    .nome-artista{
        width: 100%;
        color: #7e7e7e;
        font-size: 10px;
        font-weight: 700;
    }

    header{
        position: fixed;
        bottom: 0;
        z-index: 111;
        display: flex;
        background-color: white;
        width: 100%;
        height: 8%;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        
    }
    header nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        width: 80%;
        margin-left: 10%;    
    }
    header nav a{
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
    }
    header nav .bi{
        color: #212121;
    }
    header nav .checked{
        color: var(--p1-quaternaria);
        flex-direction: column;
        text-align: justify;
    }
    header nav .checked::before{
        content: '';
        
    }
    .musica{
        margin-bottom: 50px;
    }


    .lista-aberta{
        position: relative;
        top: 0;
        width: 0%;
        display: none;
        opacity: 0;
        animation: reveal 0.2s forwards;
    }
   
    .lista-aberta .categoria .img-lista{
        position: relative;
        width: 100%;
        height: 300px;
        
        
        
    }
    .lista-aberta .categoria .informacoes{
        position: absolute;
        height: 300px;
        width: 100%;
        top: 0;
        background-image: linear-gradient(to top, var(--p1-primaria), transparent);
    }
    .informacoes .titulo-lista{
        position: absolute;
        bottom: 0;
        margin-bottom: 23%;
        margin-left: 5%;
        font-size: 30px;
    }
    .informacoes .desc-lista{
        position: absolute;
        bottom: 0;
        margin-left: 5%;
        margin-bottom: 15%;
    }
    .informacoes .bi{
        margin-left: 3%;
        margin-top: 5%;
    }
    .informacoes .curtidas-lista{
        position: absolute;
        width: 100%;
        display: flex;
        bottom: 0;
        
        justify-content: space-between;
    }
    .curtidas-lista img{
        width: 80px;
        height: 40px;
        margin-left: 5%;
    }
    .curtidas-lista .qtd-likes{
        position: absolute;
        font-size: 12px;
        right: 0;
        margin-right: 25%;
        bottom: 0;
        margin-bottom: 3%;
    }
    .curtidas-lista .duracao{
        position: absolute;
        font-size: 12px;
        bottom: 0;
        margin-bottom: 3%;
        right: 0;
        margin-right: 5%;
    }
    .lista-aberta .btn-goup-acoes{
        position: relative;
        display: flex;
        width: 90%;
        height: 50px;
        justify-content: space-between;
        margin-left: 5%;
       
        
    }
    .btn-goup-acoes a{
        text-decoration: none;
        color: white;
        background-color: #212121;
        padding: 10px 18px;
        border-radius: 5px;
    }
    .btn-goup-acoes .bi{
        margin-right: 5px;
        transform: translateY(5px);
    }
    .lista-aberta .btnplay{
        position: relative;
        display: flex;
        margin-left: 5%;
    }
    .btnplay button{
        margin-top: 5%;
        width: 95%;
        text-decoration: none;
        text-align: center;
        color: var(--p1-primaria);
        border: none;
        border-radius: 5px;
        padding: 5px;
        font-size: 18px;
        font-weight: 700;
        background-color: var(--p1-quaternaria);
    }
    .btnplay .bi{
        margin-right: 5px;
        transform: translateY(5px);
    }
    .lista-aberta .lista-musica{
        width: 90%;
        height: 40px;
        margin-top: 5%;
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
       
    }
    .lista-musica .img-musica{
        width: 60px;
        height: 60px;
        border-radius: 10px;
        
    }
    .lista-musica .informacoes-musica{
        position: absolute;
        left: 25%;
        width: 50%;
        margin-top: 5%;
        line-height: 15px;
    }
    .informacoes-musica h3{
        font-size: 14px;
        margin-left: 5px;
        text-align: left;
    }
    .informacoes-musica p{
        font-size: 12px;
        margin-left: 5px;
        color: #7e7e7e;
    }
    .lista-musica .bi{
        color: white;
        margin-top: 50%;
    }
    .space{
        margin-top: 20%;    
    }
    .page-player{
        position: relative;
        top: 0;
        width: 100%;
        display: none;
    }
    .page-player .musica-atual .img-da-musica{
        position: relative;
        width: 100%;
        height: 300px;
        transition: 0.5s;
    }
    .page-player .musica-atual .img-full-window{
        position: relative;
        width: 100%;
        height: 450px;
        transition: 0.5s ease-in-out;
    }
    .page-player .musica-atual .informacoes-musica{
        position: absolute;
        height: 300px;
        width: 100%;
        top: 0;
        transition: 0.5s;
        background-image: linear-gradient(to top, var(--p1-primaria), transparent);
    }
    .page-player .musica-atual .info-full-window{
        position: absolute;
        height: 460px;
        width: 100%;
        top: 0;
        transition: 0.5s ease-in-out;
        background-image: linear-gradient(to top, #000000fa, #000000de,  #000000bb);
    }
    .informacoes-musica .nome-da-musica{
        position: absolute;
        bottom: 0;
        margin-bottom: 10%;
        width: 70%;
        line-height: 40px;
        margin-left: 5%;
        font-size: 35px;
        
    }
    .informacoes-musica .artista{
        position: absolute;
        bottom: 0;
        margin-left: 5%;
        margin-bottom: 5%;
        font-size: 16px;
    }
    .informacoes-musica .back-curtida{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 5%;
        margin-right: 5%;
        background-color: #7e7e7e;
        border-radius: 20px;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .informacoes-musica .back-curtida .bi{
        position: relative;
        left: 25%;
        top: 25%;
        color: var(--p1-quaternaria);
    }
    .informacoes-musica .back-notificacoes{
        position: absolute;
        right: 0;
        margin-right: 5%;
        margin-top: 5%;
        background-color: #7e7e7e;
        border-radius: 20px;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .informacoes-musica .back-notificacoes .bi{
        position: relative;
        left: 25%;
        top: 25%;
        color: white;
    }
    .informacoes-musica .back-voltar{
        position: absolute;
        left: 0;
        margin-left: 5%;
        margin-top: 5%;
        background-color: #7e7e7e;
        border-radius: 20px;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .informacoes-musica .back-voltar .bi{
        position: relative;
        left: 25%;
        top: 25%;
        color: white;
    }
    .page-player .btn-group-opcoes{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 35%;
        margin-left: 5%;
    }
    .active{
        color: var(--p1-quaternaria);
    }
    .player{
        width: 90%;
        margin-left: 5%;
        align-items: center;
    }
    .player #progesso{
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        cursor: pointer;
        background-color: #7e7e7e;
        overflow-X: hidden;
    }
    #progesso::-webkit-slider-thumb{
        -webkit-appearance: none;
        background: var(--p1-quaternaria);
        width: 10px;
        height: 20px;
        border-radius: 50%;
        box-shadow: -400px 0 0 400px var(--p1-quaternaria);
    }
    .tempo-corrido,
    .duracao-musica{
        font-size: 12px;
    }
    .duracao-musica{
        position: absolute;
        right: 0;
        margin-right: 5%;
    }
    .player .controles{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .player .controles .btn-embaralhar{  
        color: var(--p1-quaternaria);
    }
    .player .controles div{
        margin: 15px;
    }
    .controles .play-btn{
        transform: scale(1.5);
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
    }
    .play-btn span{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateY(-50%);
        width: 5px;
        height: 20px;
        border-radius: 2px;
        background: var(--p1-primaria);
        transition: 0.5s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .play-btn span:nth-child(2){
        left: 55%;
        transform-origin: center;

    }
    .play-btn.pause span:nth-child(2){
        transform: translateY(-50%) scaleY(0);
    }
    .play-btn.pause span:nth-child(1){
        width: 35%;
        left: 35%;
        transform: translate(-50% -50%);
        border-radius: 0;
        clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
    }
    .play-btn.pause{
        animation: pulse 1.2s linear alternate-reverse infinite;
    }
    
    .player .controles .btn-repetir{  
        color: var(--p1-quaternaria);
    }    
    .mix-favoritos{
        width: 90%;
        height: 50px;
        display: grid;
        grid-template-columns: repeat(2,4fr);
        gap: 10px;
        margin-left: 5%;
        
    }
    .mix-favoritos .mix-card-favoritos{
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        text-align: left;
        background-color:#212121;
        align-items: center;
        justify-content: center;
    }
    .mix-favoritos .mix-card-favoritos img{
        width: 40%;
        height: 100%;
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
    .mix-card-favoritos h4{
        font-size: 14px;
        margin: 15px 5px;
        font-weight: 600;
        line-height: 15px;
    }
    .banner{
        position: relative;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: 5%;
        margin-top: 95%;
        
    }
    .banner img{
        position: relative;
        width: 100%;
        height: 180px;
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .banner .conteudo-vi{
       position: absolute;
       display: flex;
       margin-left: 5%;
       height: 120px;
       width: 100%;
       background-image: linear-gradient(to top, var(--p1-primaria), transparent);
    }
    .conteudo-vi h3{
        position: absolute;
        left: 5%;
        bottom: 20%;
        font-size: 25px;
    }
    .conteudo-vi p{
        position: absolute;
        left: 5%;
        bottom: 5%;
        
    }
    .conteudo-vi .bi-play-circle-fill{
        position: absolute;
        right: 5%;
        bottom: 10%;
    }
    .lyric {
        position: absolute;
        top: 12%;
        width: 90%;
        margin-left: 5%;
        text-align: center;
        white-space: pre-line;
        overflow-y: hidden;
        overflow-x: hidden;
        max-height: 260px; /* Altura máxima do contêiner antes do scroll aparecer */
        font-size: 25px;
        animation: revealTow 0.5s ease-in-out forwards;
        /*background-image: linear-gradient(to top , #00000091, #0000005e);*/
        background-color: transparent;
        z-index: 1;
      }
  
      .highlighted {
        color: var(--p1-quaternaria); /* Adiciona cor  para a linha tocada */
      }
      .unplayed {
        opacity: 0.5; /* Adiciona opacidade para as linhas não tocadas */
      }

      .chord {
        position: relative;
        top: -1.0em; /* Ajuste vertical para posicionar a cifra acima da palavra */
        font-weight: bold;
        color: var(--p1-quaternaria); /* Cor verde para as cifras */
      }
      .chords {
        position: absolute;
        top: 12%;
        width: 90%;
        margin-left: 5%;
        white-space: pre-line;
        max-height: 260px; /* Altura máxima da área de cifras */
        line-height: 50px;
        overflow-y: hidden; /* Adiciona barra de rolagem vertical */
        overflow-x: hidden; /* Adiciona barra de rolagem vertical */
        font-size: 20px;
        animation: revealTow 0.5s ease-in-out forwards;
        /*background-image: linear-gradient(to top , #00000091, #0000005e);*/
        background-color: transparent;
        z-index: 1;
        display: none;
      }
    
    
    @keyframes pulse {
        0%{ box-shadow: 0;}
        50%{ box-shadow: 0 0 0 5px rgba(62, 66, 46, 0.623);}
        100%{box-shadow: 0 0 0 5px rgba(167, 209, 41, 0.4);}
        
    }
    @keyframes reveal {
        from{
            opacity: 0;
            width: 0;
        }
        to{
            opacity: 1;
            width: 100%;
        }
    }
    @keyframes revealTow {
        from{
            opacity: 0;
            height: 0;
        }
        to{
            opacity: 1;
            height: 100%;
        }
    }
}