@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    font-family:'Poppins', sans-serif;

    --p1-primaria:#000000;
    --p1-secundaria:#3E432E;
    --p1-ternaria:#616F39;
    --p1-quaternaria:#A7D129;

    --p2-primaria:#212121;
    --p2-secundaria:#323232;
    --p2-ternaria:#0D7377;
    --p2-quaternaria:#14FFEC;

    --p3-primaria:#03001C;
    --p3-secundaria:#301E67;
    --p3-ternaria:#5B8F89;
    --p3-quaternaria:#B6EADA;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100vh;
    
}
html::-webkit-scrollbar{
    width: 0;
    
}


@media screen and (min-width: 1000px){
.tela-login{
    position: relative; 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/inical.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    
}
.tela-login .logo{
   position: relative;
   display: flex;
   width: 40%;
   height: 50vh;
   text-align: center;
   background-color: #00000073;
   color: whitesmoke;
   align-items: center;
   flex-direction: column;
}
.tela-login .logo img{
    margin-top: 10%;
}
.tela-login .logo p{
    width: 80%;
    text-align: center;
    color: white;
    margin-top: 5%  ;
}
.tela-login .login-btns{
    position: relative;
    text-align: center;
    width: 40%;
    height: 50vh;
    background-color: #00000073;
}

.tela-login .login-btns button{
    width: 60%;
    height: 14%;
    background: var(--p1-quaternaria);
    border: none;
    border-radius: 10px;
    color: var(--p1-primaria);
    font-size: 15px;
    font-weight: 700;
}
.tela-login .login-btns #or{
        color: whitesmoke;
}
.tela-login .login-btns .btn{
    display: grid;
    width: 60%;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px  30px 10px 40px;
    border-radius: 10px;
    color: white;
    margin: auto ;
    margin-top: 25px;
    text-align: center;
    transition: 0.3s;
    font-weight: 500;
}
.login-btns .btn:hover{
    background-color: var(--p1-quaternaria);
    border: 1px solid var(--p1-quaternaria);
    color: var(--p1-secundaria);
}
.tela-login .login-btns .btn .bi{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin-right: 5%;
}
.tela-login .login-btns p{
    margin-top: 30px;
    color: #a3a3a3;
    font-size: 14px;
}
.tela-login .login-btns a{
    text-decoration: none;
    color: white;
}
.login-btns a:hover{
    color: var(--p1-ternaria);
}
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .tela-login{
        position: relative; 
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-image: url(../imagens/back02.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        align-items: flex-end;
        
    }
    .tela-login .logo{
       position: relative;
       display: flex;
       width: 40%;
       height: 50vh;
       text-align: center;
       background-color: #00000073;
       color: whitesmoke;
       align-items: center;
       flex-direction: column;
    }
    .tela-login .logo img{
        margin-top: 10%;
    }
    .tela-login .logo p{
        width: 80%;
        text-align: center;
        color: white;
        margin-top: 5%  ;
    }
    .tela-login .login-btns{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 40%;
        height: 50vh;
        background-color: #00000073;
    }
    
    .tela-login .login-btns button{
        width: 60%;
        height: 14%;
        background: var(--p1-quaternaria);
        border: none;
        border-radius: 10px;
        color: var(--p1-primaria);
        font-size: 15px;
        font-weight: 700;
    }
    .tela-login .login-btns #or{
            color: whitesmoke;
    }
    .tela-login .login-btns .btn{
        width: 90%;
        text-decoration: none;
        border: 1px solid white;
        padding: 10px 10px;
        border-radius: 10px;
        color: white;
        margin: 10px;
        text-align: center;
    }
    .login-btns .btn:hover{
        background-color: var(--p1-quaternaria);
        border: 1px solid var(--p1-quaternaria);
        color: var(--p1-secundaria);
    }
    .tela-login .login-btns .btn .bi{
        position: absolute;
        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
    }
    .tela-login .login-btns p{
        margin-top: 30px;
        color: #a3a3a3;
        font-size: 14px;
    }
    .tela-login .login-btns a{
        text-decoration: none;
        color: white;
    }
    .login-btns a:hover{
        color: var(--p1-ternaria);
    }
}
@media screen and (max-width: 600px) {
    .tela-login{
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background-image: none;
    }
    .tela-login .logo{
        height: 45vh;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 5.8), transparent), url("../imagens/albunsRover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: whitesmoke;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .tela-login .logo img{
        margin-top: 20%;
    }
    .tela-login .logo h2{
       
        width: 100%;
        padding: auto;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-top: 5%;
    }
    .tela-login .logo p{
        
        width: 90%;
        bottom: 0;
        font-size: 12px;
        text-align: center;
        
        color: #a3a3a3;
    }
    

    .tela-login .login-btns{
        height: 55vh;
        background-color: var(--p1-primaria);
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .tela-login .login-btns button{
        width: 90%;
        height: 14%;
        background: var(--p1-quaternaria);
        border: none;
        border-radius: 10px;
        color: var(--p1-primaria);
        font-size: 15px;
        font-weight: 700;
        margin-top: 20px;
    }
    .tela-login .login-btns #or{
        margin-top: 20px;
        color: #a3a3a3;
        font-size: 14px;
    }
    .tela-login .login-btns .btn{
        
        width: 90%;
        text-decoration: none;
        border: 1px solid white;
        padding: 10px 10px;
        border-radius: 10px;
        color: white;
        margin: 10px;
        text-align: center;
    }
    
    .tela-login .login-btns p{
        margin-top: 20px;
        color: #a3a3a3;
        font-size: 14px;
    }
    .tela-login .login-btns a{
        text-decoration: none;
        color: white;
    }
}

