@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    font-family:'Poppins', sans-serif;

    --p1-primaria:#000000;
    --p1-secundaria:#3E432E;
    --p1-ternaria:#616F39;
    --p1-quaternaria:#A7D129;
    --p1-menu-descktop:#15161b;
    --p1-principal-descktop:#202125;

    --p2-primaria:#212121;
    --p2-secundaria:#323232;
    --p2-ternaria:#0D7377;
    --p2-quaternaria:#14FFEC;

    --p3-primaria:#03001C;
    --p3-secundaria:#301E67;
    --p3-ternaria:#5B8F89;
    --p3-quaternaria:#B6EADA;
}

.mainfav{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
}
.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 230px;
    justify-content: space-between;
    background-color: #301E67;
    border-radius: 12px;
    padding: 16px;
}

.dados-artista{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dados-artista .verif{
    font-size: 12px;
    color: #aaaaaa;
}
.dados-artista h3{
    font-size: 32px;
    letter-spacing: 0.5px;
}
.dados-artista .total-de-ouvidas{
    display: flex;
    gap: 2px;
}
.total-de-ouvidas b{
    font-size: 12px;
    font-weight: 600;
}
.btn-group{
    display: flex;
    gap: 15px;
    margin-top: 24px;
}
.btn-group .btn-play{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--p1-quaternaria);
    border: 2px none;
    border-radius: 25px;
    padding: 10px 40px;
    transition: 0.5ms ease-in;
}
.btn-group .btn-play:hover{
    background-color: transparent;
    border: 1px solid var(--p1-quaternaria);
    
}
.btn-group .btn-seguir{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 45px;
    border-radius: 25px;
    transition: 0.5ms;
}
.btn-group .btn-seguir:hover{
    background-color: white;
    color: var(--p1-secundaria);
}   